body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent; /* Прозрачный фон */
    color: #000; /* Цвет текста для контраста на прозрачном фоне */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Выравнивание контента вверху страницы */
}

.upload-container {
    margin-top: auto; /* Устанавливаем верхний отступ auto, чтобы контейнер притягивался к низу */
    margin-bottom: 20px; /* Добавляем небольшой отступ снизу */
    order: 2; /* Порядок 2, чтобы поместить контейнер загрузки внизу */
}


.upload-button {
    opacity: 0; /* Скрытие кнопки, но она остаётся функциональной */
    position: absolute;
    width: 100%; /* Растягиваем на всю ширину label для увеличения кликабельной области */
    height: 100%; /* Растягиваем на всю высоту label */
    z-index: 2; /* Убеждаемся, что input находится над label и может захватить клик */
    cursor: pointer; /* Изменение курсора при наведении для индикации кликабельности */
}

.upload-label {
    display: inline-block;
    background-color: #4a76a8; /* Синий цвет, характерный для дизайна OpenAI */
    color: #fff; /* Белый текст для контраста */
    padding: 15px 30px; /* Увеличиваем отступы для изменения размера кнопки */
    border-radius: 10px; /* Задаем скругление углов */
    cursor: pointer; /* Изменение курсора при наведении для индикации кликабельности */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
    text-decoration: none; /* Убрать подчеркивание текста, если label используется как ссылка */
    position: relative; /* Позиционирование для корректной работы с абсолютно позиционированным input */
    z-index: 1; /* Убеждаемся, что label находится под input */
    width: 150%; /* Увеличиваем ширину на 1.5 раза */
    height: 150%; /* Увеличиваем высоту на 1.5 раза */
}

.upload-label:hover {
    background-color: #357ab8; /* Затемнение фона при наведении для визуального отклика */
}

canvas {
    margin-top: 20px; /* Отступ сверху для разделения элементов */
    order: 1; /* Порядок 1, чтобы поместить canvas вверху */
}

.scrollToTopButton {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border: none; /* Убираем стандартную рамку */
    border-radius: 5px; /* Скругление углов для современного вида */
    cursor: pointer; /* Изменение курсора при наведении для индикации кликабельности */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
    margin-top: 20px; /* Отступ сверху от canvas */
    display: none; /* Изначально скрыта, появляется только при необходимости */
}

.scrollToTopButton:hover {
    background-color: #333; /* Затемнение фона при наведении для визуального отклика */
