body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

.chat-window {
    width: 100%;
    max-width: 400px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Убедитесь, что контент распределяется по вертикали */
    overflow: hidden;
    height: 90vh; /* Установите фиксированную высоту для окна чата */
}

.chat-box {
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-area {
    display: flex;
    padding: 10px;
    margin-top: auto; /* Автоматически сдвигает область ввода вниз */
}


#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 10px; /* Задаем радиус скругления */
    margin-right: 10px;
    outline: none;
}
#send-button {
    width: 40px;
    height: 40px;
    background-color: #0088cc; /* Цвет фона кнопки */
    border-radius: 10px; /* Задаем радиус скругления */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#send-button img {
    width: 20px; /* Размер изображения */
    height: 20px;
    filter: invert(1); /* Инвертируем цвет иконки */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #0088cc; /* Характерный синий цвет Telegram для кнопки */
    color: white;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0077b5; /* Немного более темный синий при наведении */
}

.message {
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 80%;
}

.user-message {
    align-self: flex-end;
    background-color: #0088cc; /* Сообщения пользователя в синем цвете */
    color: white;
}

.bot-message {
    align-self: flex-start;
    background-color: #f0f0f0; /* Сообщения бота в более светлом цвете */
    color: black;
}
